body{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(0,0,0), rgb(255, 255, 255));
    background-repeat: no-repeat;
    font-family: Ubuntu, sans-serif;

}
h1{
    margin-left: 100px;
    color: white;
}
.main-container{   
    height: 350px;
    width: 500px;
    border: 1px solid black;
    background-color: #fbfcfb;
}
#user-img{
    height: 130px;
    width: 130px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: 10px;
    padding: 5px;
}
button{
    background-color: rgb(22, 158, 22);
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    color: #f0f0f0;
   position: absolute;
   top: 90%;
   left: 45%;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    margin-top: 0.5rem;

}

.navigation .nav-pills {
    text-align: center;
    margin: 0.6rem 1rem;
    position: absolute;
    top: 60%;
}

.navigation .link {
    color: var(--primary-color);
}

.navigation .link-active {
    text-decoration: none;
}

.navigation .link-actived {
    color: black;
    border: 1px hidden;
    border-radius: 1rem;
}

.nav-brand {
    color: black;
}

.nav-bar {
    text-align: center;
    color: black;
}
i{
    font-size: 30px;
    margin: 10px;
    color: gray;

}
i:hover{
    color:rgb(22, 158, 22);
}